footer {
  background: rgba(247, 206, 205, 0.33);
  padding-top: 66px;
  padding-bottom: 66px;
}

.left > .bottom > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 0.06em;

  color: #b85757;
}
